- @users.each_with_index  do |user,index|
  -if !current_user?(user)
    %tr
      %td= link_to "#{user.name}", user
      %td= link_to "#{user.email}", user
      - if current_user.admin?
        %td= link_to "Delete user only for admin", user, class: "btn-group btn btn-danger", method: :delete, data: { confirm: "You sure?" }

