%table.table.table-striped
  %thead
    %tr
      %th= "Name users"
      %th= "Email users"
      - if current_user.admin?
        %th= "Links to delete"
  %tbody
    = render "index"
= will_paginate
