.row
  %aside.span4
    %section
      %h1
        = @user.name
      - if !current_user?(@user)
        %h2 Write a message:
        = simple_form_for :conversation, { url: conversations_path } do |f|
          = f.hidden_field :recipient_id, value: @user.id
          = f.input :body, as: :text, label: false, required: false
          = f.submit "Submit"
